@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>
<div id="grid"></div>
@section scripts {
    <script>
        

        $(function () {


            var serviceUrl = "/api/crudclients";
            var dataSource = new kendo.data.DataSource({
                type: "json",
                transport: {
                    read: {
                        url: serviceUrl,
                        contentType: "application/json"
                    },
                    update: {
                        url: function (client) { return serviceUrl + "/" + client.Id },
                        type: "PUT",
                        contentType: "application/json"
                    },
                    destroy: {
                        url: function (client) { return serviceUrl + "/" + client.Id },
                        type: "DELETE",
                        contentType: "application/json"
                    },
                    create: {
                        url: serviceUrl,
                        type: "POST",
                        contentType: "application/json"
                    },
                    parameterMap: function (options, operation) {
                        return JSON.stringify(options);
                    }
                },
                pageSize: 10,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "number", editable: false },
                            FullName: { editable: true },
                            Salutation: { editable: true },
                            PreferredName: { editable: true },
                            PreferredDoctorId: { type: "number", nullable: true, editable: true }
                        }
                    }
                }
            });
            $("#grid").kendoGrid({
                dataSource: dataSource,
                editable: "inline",
                toolbar: ["create"],
                columns: [
                    {
                        field: "Id",
                        filterable: false,
                        editable: false,
                        width: 50,
                    },
                    {
                        field: "Salutation",
                        title: "Título",
                        filterable: false
                    },
                    {
                        field: "FullName",
                        title: "Nome completo",
                        filterable: true
                    },
                    {
                        field: "PreferredName",
                        title: "Nome preferencial",
                        filterable: true
                    },
                    {
                        command: ["edit", "destroy"], title: "&nbsp;", width: "210px"
                    }
                ]
            });

        });
    </script>
}


